* {
    box-sizing: border-box;
    margin: 0;
}


.wallpaper {

    background: url("../src/images/white_leather.png");
}


header {
    padding: 30px 0 30px 0;
    background: #33AAFF;
    color: #fff;
    text-align: center;
}

header h1 {
    display: inline;
    margin-left: 15px;
    font-weight: 300;
}

input:focus, 
select:focus
{
    outline: none;
}

.input {
    width: 500px;
    padding: 20px 0 20px 0;
    margin: 0 auto;
    
}

.search-area form {
    width: 400px;
    margin: 0 auto;
    padding: 150px 0px 20px 50px;
    
    
}

.search-area button {
    display: inline;
    background: #33AAFF;
    color: #fff;
    border: solid;
    padding: 10px 10px 5px 13px;
    position: relative;
    border-color: black;
    

}

input {
    width: 350px;
    padding: 15px 0 10px 0;
    font-size: 1em;
    border: solid;
    border-color: black;
    
    
    
}


.list {
    display: grid;
    margin: 10px 0 20px 0;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 1fr;
    grid-gap: 10px;
    
}

.card-container {
    width: 250px;
    border: 3px solid black;
    margin: 0 auto;
    border-radius: 5px;
    overflow: hidden;
    
}
.desc {
    height: 130px;
    padding: 10px;
}

.desc h2 {
    font-size: 1em;    
    font-weight: 400;
}
.desc h3, p {
    font-weight: 300;
}

.desc h3 {
    color: #33AAFF;
    font-size: 1em;
    padding: 10px 0 10px 0;
}

.desc p {
    color: #33AAFF;
}

.logo {
    height: 80px;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  
}
img {
    height: 250px;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  
}

select {
    background-color: #33AAFF;
    color: #fff;
    height: 37px;
    width: 100px;
    position: relative;
    top: -3px;
    border: solid;
    border-color: black;
  
    
}
